/Library
/Logs
/Packages
/ProjectSettings
/Temp
/UserSettings
/Assets/Standard Assets
*.meta

# tmp
/Assets/Scenes
/Assets/Scripts/FauxGravityBody.cs
/Assets/Scripts/SphereCharacter.cs
/Assets/Scripts/SpherePlayerController.cs
